.flex-container{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(234, 233, 233);
    height:1000px;
}
.flex-container > div{
        background-color: white;
        border-radius: 10px;


}
input[type=text]{
    width: 95%;
    margin-right: 25px; 
    margin-bottom: 15px;
    border-radius: 10px;
}
input[type=password]{
    width: 95%;
    margin-right: 25px; 
    margin-bottom: 15px;
    border-radius: 10px;
}

#btn{
    background-color: green;
    width:100%;
    border-radius: 10px;
}
*{
    padding: 5px;
}
#sp{
    color:green;
}